@charset "utf-8";
/* *******************************************************
 * filename : layout_responsive.css
 * description : 전체 레이아웃 반응형 CSS
 * date : 2020-02-27
******************************************************** */

/* ****************** 공통레이아웃 ********************** */
@media all and (max-width:1620px){	/* max-width : (area-box width) + 20px */
	.area-box{padding:0 30px;}
}
@media all and (max-width:1220px){
	.area{padding:0 30px;}
}
@media all and (max-width:1024px){
	.area-box,
	.area{padding:0 15px}
}

/* ****************** HEADER ********************** */
@media all and ( max-width: 1536px ){
	#headerInner{padding: 0 15px;}
	.header-util-box {right: 15px;}
	#gnb > ul > li > a{font-size: 17px;}
.partner dl{left:20px; }
}
@media all and ( max-width: 1366px ){
	#gnb > ul > li > a{font-size: 16px; padding: 80px 27px 10px;}
	#gnb.each-menu > ul > li .gnb-2dep{width:160px; margin-left: -80px;}
	#gnb.each-menu > ul > li .gnb-2dep ul li a{padding:15px 5px; font-size: 14.5px;}
}
@media all and ( max-width: 1220px ){	/* 1024까지 레이아웃유지가 안될시 max-width: 컨텐츠너비+20px */
	#header,#headerInnerWrap{height:80px;}
	#headerInnerWrap{position:fixed; z-index:99;}
	#headerInner{padding:0 15px;}
	#header .logo{padding:27px 0;}	/* padding값 적절히 바꿔주세요 */
	#header .logo img{height:40px;}
	#header.fixed #headerInnerWrap{background-color:#fff; border-bottom:1px solid #eee;}
	.partner dl{display:none;}

	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{display:none;}
	/* Header :: 사이트맵 버튼 */
	.sitemap-line-btn, .sitemap-custom-btn{display:none;}

	/* -------- Header :: GNB(Pc) -------- */
	#gnb{display:none;}
	.gnb-overlay-bg{display:none}

	/* -------- Header :: GNB(Mobile/기본스타일) -------- */
	.gnb-overlay-bg-m{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9998;}
	#gnbM{
		display:block;
		position:fixed;
		top:0px;
		right:-82%;
		width:80%;
		height:100%;
		max-width:280px;
		background-color:#fff;
		z-index:9999;
		transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		-oz-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		-ms-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);		/* gnb OPEN 속도 */
		visibility:hidden;
	}
	#gnbM.open{
		right:0px;
		visibility:visible;
	}
	/* GNB Mobile :: 레이아웃 */
	.gnb-navigation-wrapper{position:relative; height:100%; box-sizing:border-box; padding-top:80px; overflow-y:auto;}	/* padding-top : Header 높이값 */
	.header-util-menu-box + .gnb-navigation-wrapper{padding-top:0}

	/* GNB Mobile :: 메뉴영역 :: 1차 */
	#navigation > li{border-bottom:1px solid #e7e7e7;}
	#navigation > li:first-child{border-top:1px solid #e7e7e7}
	#navigation > li > a {position:relative; display:block; padding:15px; color:#333; font-size:17px; font-weight:500;}
	#navigation > li.active > a{color:#3481fa;}
	#navigation > li.has-2dep > a{}
	#navigation > li.has-2dep.active > a{}
	#navigation > li .gnb-icon{position:absolute; top:50%; right:15px; margin-top:-10px;}
	#navigation > li .gnb-icon i{font-size:20px;}
	/* GNB Mobile ::  메뉴영역 :: 2차 */
	#navigation > li .gnb-2dep{display:none; padding:15px 0; background-color:#f2f2f2; }
	#navigation > li .gnb-2dep > li{height:auto !important;}
	#navigation > li .gnb-2dep > li > a{display:block; color:#444; font-size:14px; padding:12px 15px; opacity:0.7;filter:Alpha(opacity=70);}
	#navigation > li .gnb-2dep > li.on > a{opacity:1.0;filter:Alpha(opacity=100); font-weight:500;}
	/* GNB Mobile :: 메뉴영역 ::  3차 */
	#navigation > li .gnb-2dep > li > .gnb-3dep{display:none; padding:10px; background-color:#aaa; margin:0 10px}
	#navigation > li .gnb-2dep > li > .gnb-3dep > li > a{display:block; padding:8px 0; font-size:13px; color:#fff;}
	#navigation > li .gnb-2dep > li > .gnb-3dep > li > a:before{display:inline-block; content:"-"; margin-right:5px;}

	/* -------- GNB Mobile :: 스타일2 (Full Style) -------- */
	#gnbM.gnb-style-full{
		top:-100%;
		right:0;
		width:100%;
		height:100%;
		max-width:none;
	}
	#gnbM.gnb-style-full.open{
		top:0px;
	}
	.gnb-style-full .gnb-navigation-wrapper{height:auto; width:100%; position:absolute; top:0px; bottom:0px; left:0; padding-top:0;}
	.gnb-style-full .header-util-menu-box + .gnb-navigation-wrapper{top:80px; }
	.gnb-style-full-member .gnb-navigation-wrapper{bottom:80px;}
	.gnb-style-full .gnb-navigation-inner{display:table; width:100%; height:100%;}
	.gnb-style-full #navigation{
		display:table-cell;
		vertical-align:middle;
	}
	.gnb-style-full #navigation > li{text-align:center; border:0; opacity:0;filter:Alpha(opacity=0); transform:translateY(-20px);-webkit-transition:all 0s 0s;-moz-transition:all 0s 0s;-o-transition:all 0s 0s;-ms-transition:all 0s 0s;transition:all 0s 0s;}
	.gnb-style-full #navigation > li:first-child {border:0}
	.gnb-style-full #navigation > li > a {}
	.gnb-style-full #navigation > li .gnb-icon i{display:none;}
	.gnb-style-full.open #navigation > li{opacity:1.0;filter:Alpha(opacity=100); transform:translateY(0px); -webkit-transition:transform 0.8s, opacity 0.8s;-moz-transition:transform 0.8s, opacity 0.8s;-o-transition:transform 0.8s, opacity 0.8s;-ms-transition:transform 0.8s, opacity 0.8s;transition:transform 0.8s, opacity 0.8s;}
	.gnb-style-full.open #navigation > li:nth-child(1){-webkit-transition-delay: 0.3s;-moz-transition-delay: 0.3s;-o-transition-delay: 0.3s;-ms-transition-delay: 0.3s;transition-delay:0.3s;}
	.gnb-style-full.open #navigation > li:nth-child(2){-webkit-transition-delay: 0.4s;-moz-transition-delay: 0.4s;-o-transition-delay: 0.4s;-ms-transition-delay: 0.4s;transition-delay:0.4s;}
	.gnb-style-full.open #navigation > li:nth-child(3){-webkit-transition-delay: 0.6s;-moz-transition-delay: 0.6s;-o-transition-delay: 0.6s;-ms-transition-delay: 0.6s;transition-delay:0.6s;}
	.gnb-style-full.open #navigation > li:nth-child(4){-webkit-transition-delay: 0.7s;-moz-transition-delay: 0.7s;-o-transition-delay: 0.7s;-ms-transition-delay: 0.7s;transition-delay:0.7s;}
	.gnb-style-full.open #navigation > li:nth-child(5){-webkit-transition-delay: 0.9s;-moz-transition-delay: 0.9s;-o-transition-delay: 0.9s;-ms-transition-delay: 0.9s;transition-delay:0.9s;}
	.gnb-style-full.open #navigation > li:nth-child(6){-webkit-transition-delay: 1.1s;-moz-transition-delay: 1.1s;-o-transition-delay: 1.1s;-ms-transition-delay: 1.1s;transition-delay:1.1s;}
	.gnb-style-full.open #navigation > li:nth-child(7){-webkit-transition-delay: 1.4s;-moz-transition-delay: 1.4s;-o-transition-delay: 1.4s;-ms-transition-delay: 1.4s;transition-delay:1.4s;}

	/* -------- GNB Mobile :: 언어선택 및 회원메뉴 -------- */
	/* 회원메뉴 */
	.member-menu-box{text-align:center; padding:10px 0; height:100%;margin-right:60px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 box-sizing: border-box;
	}
	.member-menu-box li{float:left; width:50%; height:100%; position:relative;}
	.member-menu-box li:before{content:""; position:absolute; top:0px; left:0px; width:1px; height:100%; background-color:rgba(0,0,0,0.1); content:"";}
	.member-menu-box li:first-child:before{display:none;}
	.member-menu-box li a{display:block; color:#444;  padding:6px 0}
	.member-menu-box li a i{font-size:30px;}
	.member-menu-box li a strong{display:block; padding-top:5px; font-size:13px; letter-spacing:-0.5px; font-weight:400;}
	/* gnb full style일때 회원메뉴 위치이동 */
	.gnb-style-full .member-menu-box{position:absolute; bottom:0px; left:0px; right:0; margin-right:0px; height:80px; padding:0; border-top:1px solid #ddd;}
	.gnb-style-full .member-menu-box li a{padding:16px 0;}

	/* -------- Header :: 네비게이션 오픈 버튼 -------- */
	.nav-open-btn{
		display:block; position:fixed; top:24px;  right:15px; z-index:10000;
		height:30px;
		transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		-oz-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		-ms-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	.nav-open-btn .line{
		display:block; width:28px; height:3px; background-color:#0b0b0b; margin: 4px auto;
		-webkit-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	}
	/* .nav-open-btn.active .line{background-color:#fff;} */
	.nav-open-btn.active .line:nth-child(2), .nav-open-btn.active .line:nth-child(4){opacity: 0;}
	.nav-open-btn.active .line:nth-child(1){
		 -webkit-transform: translateY(7px) rotate(45deg);
		  -ms-transform: translateY(7px) rotate(45deg);
		  -o-transform: translateY(7px) rotate(45deg);
		  transform: translateY(7px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		 -webkit-transform: translateY(-7px) rotate(-45deg);
		  -ms-transform: translateY(-7px) rotate(-45deg);
		  -o-transform: translateY(-7px) rotate(-45deg);
		  transform: translateY(-7px) rotate(-45deg);
	}

	#header.fixed-header .nav-open-btn .line{background-color:#fff}
}
@media all and ( max-width: 800px ){
	#header,#headerInnerWrap{height:60px;}
	#header .logo{padding:20px 0;}	/* padding값 적절히 바꿔주세요 */
	#header .logo img{height: 30px;}

	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{padding-right:35px;}
	/* Header :: 검색버튼 */
	.header-search-inner{top:60px;}

	/* Header :: 언어선택 */
	.header-lang{width:60px; margin-left:5px}
	.header-lang strong{display:none;}
	.header-lang > ul{border-color:#ccc;}
	.header-lang > ul > li > a{padding:0; text-align:center;}
	/* Header :: 사이트맵, 네비게이션 버튼 */
	.nav-open-btn{top:15px; margin-top:0;}
	.nav-open-btn .line{width:20px; height:2px;}
	.nav-open-btn.active .line:nth-child(1){
		 -webkit-transform: translateY(6px) rotate(45deg);
		  -ms-transform: translateY(6px) rotate(45deg);
		  -o-transform: translateY(6px) rotate(45deg);
		  transform: translateY(6px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		 -webkit-transform: translateY(-6px) rotate(-45deg);
		  -ms-transform: translateY(-6px) rotate(-45deg);
		  -o-transform: translateY(-6px) rotate(-45deg);
		  transform: translateY(-6px) rotate(-45deg);
	}
	/* Header :: GNB(Mobile) */
	.gnb-navigation-wrapper{padding-top:60px} /* padding-top : Header 높이값 */
	.gnb-style-full .header-util-menu-box + .gnb-navigation-wrapper{top:60px; }
	.gnb-style-full-member .gnb-navigation-wrapper{bottom:60px;}
	#navigation > li > a{font-size:15px;}
	#navigation > li .gnb-2dep > li > a{font-size:13px;}

	/* Header :: 언어선택 및 회원메뉴 */
	.header-util-menu-box{height:60px;}
	/* 회원메뉴 */
	.member-menu-box{padding:5px 0;}
	.member-menu-box li a{ padding:4px 0}
	.member-menu-box li a i{font-size:24px;}
	.member-menu-box li a strong{padding-top:3px;}
	.gnb-style-full .member-menu-box{height:60px}
	.gnb-style-full .member-menu-box li a{padding:10px 0;}
}

/* ****************** FOOTER ********************** */
@media all and (max-width:1220px){
	#footer{text-align: center;}
	.footer-left-con{float:none;}
	.footer-right-con{float:none;}
	/* Footer :: 푸터메뉴 */
	.foot-menu{float:none; display: inline-block;}
	.foot-menu li{float:none; display: inline-block; padding: 0 12px;}
	/* Footer :: 왼쪽정보 */
	.footer-address-info-box{margin-top: 20px;}
	/* Footer :: SNS 리스트 */
	.foot-sns-menu{display: none;}
	.foot-sns-menu.m-ver{display: block;}
	.foot-sns-menu li{float:none; display: inline-block; margin:0 7px;}
	.foot-sns-menu li:first-child{margin-left:7px}
	/* Footer :: 오른쪽정보 :: 패밀리사이트 */
	.footer-logo{display: inline-block; margin: 0 7px; margin-top: 40px;}
}

@media all and (max-width:800px){
	/* -------- FOOTER :: 상단 -------- */
	#footerTop{padding:17px 0;}
	/* Footer :: 푸터메뉴 */
	.foot-menu li{position:relative; padding: 0 12px; line-height:35px;}
	.foot-menu li a{font-size:12px;}
	/* Footer :: SNS 리스트 */
	.foot-sns-menu li{display: inline-block; margin:0 7px;}
	.foot-sns-menu li a{color: #333; line-height:23px;}
	.foot-sns-menu li a i{font-size:23px; line-height:23px;}
	/* -------- FOOTER :: 하단 -------- */
	#footerBottom{padding:20px 0 60px;}
	/* Footer :: 왼쪽정보 */
	.footer-address-info-box{margin-bottom:25px;}
	.footer-address-list{margin-top: 5px;}
	.footer-address-info-box .footer-address-list:first-child{margin-top: 20px;}
	.footer-address-list dl{margin-top: 5px; display:block; width: 100%; font-size:12px; line-height:1.3; margin-left:0;}
	.footer-address-list dl:first-child{margin-top: 0;}
	.footer-address-list dl dt,
	.footer-address-list dl dd{vertical-align:middle; display:inline-block;}
	.footer-address-list dl dt{margin-right:10px; color:rgba(0,0,0,0.5);}
	.footer-address-list span{display:inline-block; margin-right:15px}
	.footer-address-list a{color:inherit}
	/* Footer :: Copyright */
	.footer-copyright{font-size:12px; line-height: 1.3; -ms-word-break: keep-all; word-break: keep-all;}
	/* Footer :: 오른쪽정보 :: 패밀리사이트 */
	.footer-logo{margin: 0 7px; margin-top: 40px;}
	.footer-logo img{height: 40px;}
}

/* ****************** SUB LAYOUT ********************** */
@media all and (max-width:1220px){
	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#middleArea{padding-top: 200px;}
}

@media all and (max-width:800px){
	/*  SUB LAYOUT :: 이전페이지,다음페이지 버튼 */
	.sub-page-controls-btn{position:absolute; top:2px; height:30px;}
	.sub-page-controls-btn span i{margin-top:-2px; font-size:24px;}
	.sub-page-controls-btn.sub-prev-page-btn{left:5px;}
	.sub-page-controls-btn.sub-next-page-btn{right:5px;}
	.sub-page-controls-btn.sub-prev-page-btn:hover{margin-left:0;}
	.sub-page-controls-btn.sub-next-page-btn:hover{margin-right:0;}

	/*  SUB LAYOUT :: 상단정보 (공통) */
	#contentInfoCon{width: 100%; margin:0 auto 40px;}
	#contentInfoCon .content-tit{position:relative; padding-bottom:30px; font-size:24px;}
	#contentInfoCon .content-tit:before{bottom:-1px; height:1px;}

	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#middleArea{padding-top: 105px;}
	#content{padding:0 0 65px;}
}

/* ****************** MODAL LAYERPOPUP ********************** */
@media all and ( max-width: 800px ){
	/* modal layer content */
	.footer-modal-content h1{height:46px; line-height:46px; font-size:18px; text-align:left; padding:0 15px}
	.modal-close-btn i{font-size:24px}
	.footer-inner-box{padding:15px}
	.footer-inner{padding:10px; height:250px;}
	/* 사이트맵  */
	.sitemap-wrapper{padding:15px}
	.sitemap-wrapper > ul{display:block;}
	.sitemap-wrapper > ul > li{float:none; display:block; width:auto; margin-bottom:15px;}
	.sitemap-wrapper > ul > li > h2{font-size:16px; margin:0; margin-bottom:5px;}
	.sitemap-wrapper > ul > li .sitemap-2dep{overflow:hidden; margin:0 -1%; padding:0;}
	.sitemap-wrapper > ul > li .sitemap-2dep li{float:left; position:relative; width:31.33%; margin:1%; word-break:keep-all;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:before{position:absolute; top:0px; left:0; bottom:0px; width:1px; background-color:#eee; content:""; display:none;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:nth-child(3n+1){clear:both;}
	.sitemap-wrapper > ul > li .sitemap-2dep a{padding:7px; font-weight:300; }
}
@media all and ( max-width: 480px ){
	/* 사이트맵  */
	.sitemap-wrapper > ul > li .sitemap-2dep li{width:48%;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:nth-child(3n+1){clear:none;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:nth-child(odd){clear:both;}
}
