@charset "utf-8";
/* *******************************************************
 * filename : faq.css
 * description : FAQ형 게시판 관련 CSS
 * date : 2019-09-30
******************************************************** */

/* ******************   갤러리 게시판 :: FAQ 기본형 01 ********************** */
.faq-list-con{border-top:1px solid #000; margin-bottom:30px; }
.faq-list-con .faq-item{border-bottom:1px solid #d7d7d7;}
.faq-list-con .faq-item dt{position:relative; padding:15px 30px 15px 55px; cursor:pointer; }
.faq-list-con .faq-item dt .faq-title{display:block; color:#343434; font-size:16px; font-weight:400; letter-spacing:-0.5px; line-height:24px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; vertical-align:top;}
.faq-list-con .faq-item dt .arrow{position:absolute; top:16px; right:15px; width:13px; height:9px; }
.faq-list-con .faq-item dt i{color:#666; font-size:26px;}
.faq-list-con .faq-item.open dt .arrow i{margin-top:-2px; transform:rotate(-180deg);}
.faq-list-con .faq-item.open dt .faq-title{white-space:normal; text-overflow:unset;}
.faq-list-con .faq-item dd{display:none; position:relative; border-top:1px solid #d7d7d7; padding:18px 30px 15px 55px; background:#f0f0f0; }
.faq-list-con .faq-item dd .answer-txt-con{line-height:24px; font-size:14px; color:#333; }
.faq-list-con .faq-item dt .question-icon,.faq-list-con .faq-item dd .answer-icon{
    position:absolute; top:13px; left:10px; width:30px; height:30px; line-height:30px; text-align:center; color:#fff; font-size:13px; font-weight:400;
    -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;
}
.faq-list-con .faq-item dt .question-icon{background-color:#3481fa}
.faq-list-con .faq-item dd .answer-icon{background-color:#000; }

/* FAQ :: 카테고리 */
.faq-list-con.faq-category-list-con dl dt .faq-category{display:inline-block; width:110px; color:#aaa; margin-right:5px; font-size:13px; line-height:24px; vertical-align:top; }
.faq-list-con.faq-category-list-con dl dt .faq-title{display:inline-block; width:calc(95% - 120px);}

@media all and ( max-width:800px ){
	/*  FAQ 게시판 */
	.faq-list-con .faq-item dt{padding-left:45px;}
	.faq-list-con .faq-item dt .faq-title{font-size:14px; line-height:18px; }
	.faq-list-con .faq-item dt .arrow{top:12px;}
	.faq-list-con .faq-item dd{padding:15px;}
	.faq-list-con .faq-item dt .question-icon,.faq-list-con .faq-item dd .answer-icon{top:14px; left:15px; width:20px; height:20px; line-height:20px; font-size:11px;}
	.faq-list-con .faq-item dd .answer-icon{display:block; position:static; margin-bottom:10px;}
	/* FAQ :: 카테고리 */
	.faq-list-con.faq-category-list-con dl dt{padding-top:40px;}
	.faq-list-con.faq-category-list-con dl dt .faq-category{position:absolute; top:13px; left:45px; right:30px; width:auto; margin-right:0; line-height:22px; }
	.faq-list-con.faq-category-list-con dl dt .faq-title{display:block; width:100%; }
	.faq-list-con.faq-category-list-con dl dt .arrow{top:23px;}
}
