@charset "utf-8";
/* *******************************************************
 * filename : gallery.css
 * description : 갤러리형 게시판 관련 CSS
 * date : 2019-09-30
******************************************************** */

/* ******************   갤러리 게시판 :: 갤러리 기본형 G01 ********************** */
.bbs-basic-gallery-con{overflow:hidden; margin: 0px -0.5%; }
.bbs-basic-gallery-con li{float:left; width:24%; margin:0 0.5%  1% 0.5%; }
.bbs-basic-gallery-con li a{display:block; position:relative; border:1px solid #d4d4d4; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
.bbs-basic-gallery-con li a .gallery-thum-box{position: relative; padding-top: 70%; overflow: hidden;}	/* padding-top 으로 이미지의 비율 조정 */
.bbs-basic-gallery-con li a .gallery-thum {position: absolute; top: 0; left: 0; right: 0; bottom: 0; display:block; overflow:hidden;}
.bbs-basic-gallery-con li a .gallery-thum img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.bbs-basic-gallery-con li a .category{position:absolute; top:0px; left:0px; min-width:30px; padding:0 10px; height:28px; line-height:28px; background-color:#f58020; color:#fff; z-index:1;}
.bbs-basic-gallery-con li a .gallery-txt-con{padding:8% 4%;}
.bbs-basic-gallery-con li a .gallery-txt-con .gal-tit{display:block;width:100%; color:#1a1a1a; font-size:18px; font-weight:500; letter-spacing:-0.6px; line-height:26px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.bbs-basic-gallery-con li a .gallery-txt-con .gal-txt{height:58px; overflow:hidden; margin:8px 0 15px; color:#5e5e5e; font-size:14px; letter-spacing:-0.5px; line-height:1.5em; word-break:keep-all;}
.bbs-basic-gallery-con li a .gallery-txt-con .gal-day{color:#666; font-size:13px; font-weight:300;}
.bbs-basic-gallery-con li a .gallery-txt-con .gal-day i{font-size:22px; vertical-align:middle; color:#aaa; margin-top:-3px;}
.bbs-basic-gallery-con li a:hover{border-color:#000}
.bbs-basic-gallery-con li a:hover .gallery-thum img {-webkit-transform: scale(1.1) rotate(0.02deg); -moz-transform: scale(1.1) rotate(0.02deg); -ms-transform: scale(1.1) rotate(0.02deg); -o-transform: scale(1.1) rotate(0.02deg); transform: scale(1.1) rotate(0.02deg);}
@media all and (max-width:800px){
	.bbs-basic-gallery-con li{width:32.33%;}
	.bbs-basic-gallery-con li a .gallery-txt-con .gal-tit{font-size:15px; line-height:20px;}
	.bbs-basic-gallery-con li a .gallery-txt-con .gal-txt{height:34px; font-size:11.5px;}
	.bbs-basic-gallery-con li a .gallery-txt-con .gal-day{font-size:11.5px;}
	.bbs-basic-gallery-con li a .gallery-txt-con .gal-day i{font-size:18px;}
}
@media all and (max-width:480px){
	.bbs-basic-gallery-con li{width:49%;}
	.bbs-basic-gallery-con li a .gallery-txt-con .gal-tit{font-size:14px;}
}
/* ******************   갤러리 게시판 :: 갤러리 기본형 G02 ********************** */
.bbs-basic-gallery-con02 .gallery-list{overflow:hidden; margin:0 -0.5%;}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item{float:left; width:24%; margin:0 0.5% 5% 0.5%;}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item a{display:block; position:relative; padding-top:120%; height:0; }
.bbs-basic-gallery-con02 .gallery-list .gal-list-item a .category{position:absolute; top:0px; left:0px; min-width:30px; padding:0 10px; height:28px; line-height:28px; background-color:#f58020; color:#fff; z-index:1;}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-thum{overflow:hidden; display:block; position:absolute; top:0px; left:0px; width:100%; height:100%;}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-thum img{width:100%; height:100%; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-tit{display:block; height:45px; line-height:45px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#222; font-size:16px; font-weight:500; margin-bottom:12px;}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-info{height:24px;}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-info i{font-size:18px; vertical-align:middle; margin-top:-2px; color:inherit}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-info .gal-writer{float:left; font-weight:400 }
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-info .gal-date{float:right; font-weight:400; color:#888;}
/* over style */
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .over-thum{
	position:absolute; top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.7);
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .over-thum::before,
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .over-thum::after {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .over-thum::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .over-thum::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item .over-thum span{
	display:block; position:absolute; 
	top:50%; left:50%; width:55px; height:32px; line-height:32px; 
	margin:-16px 0 0 -27px; text-align:center; 
	color:#fff; font-size:14px; font-weight:600;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	border-top:1px solid rgba(255,255,255,0.7);
	border-bottom:1px solid rgba(255,255,255,0.7);
}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item a:hover .over-thum{opacity:1.0;filter:Alpha(opacity=100);}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item a:hover .over-thum::before,
.bbs-basic-gallery-con02 .gallery-list .gal-list-item a:hover .over-thum::after {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item a:hover .over-thum span{
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.bbs-basic-gallery-con02 .gallery-list .gal-list-item a:hover .gal-thum img{-webkit-transform: scale(1.1) rotate(0.02deg); -moz-transform: scale(1.1) rotate(0.02deg); -ms-transform: scale(1.1) rotate(0.02deg); -o-transform: scale(1.1) rotate(0.02deg); transform: scale(1.1) rotate(0.02deg);}

@media all and (max-width:800px){
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item{width:32.33%}
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-tit{height:30px; line-height:30px; margin:10px 0; }
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-info{height:auto;}
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-info .gal-writer,
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-info .gal-date{
		float:none; 
		display:block;
		line-height:20px;
	}
}
@media all and (max-width:480px){
	.bbs-basic-gallery-con02 .gallery-list{margin:0 -1%;}
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item{width:48%; margin:0 1% 5% 1% ;}
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item .gal-tit{height:30px; line-height:30px; font-size:14px; margin-bottom:5px;}
	.bbs-basic-gallery-con02 .gallery-list .gal-list-item .over-thum span{font-weight:400; font-size:13px;}
}

/* ******************  갤러리 게시판 :: 갤러리 기본형 G03  ********************** */
.bbs-basic-gallery-con03{position:relative; padding-bottom:60px;}
.bbs-basic-gallery-con03 ul{overflow:hidden; margin: 0 -1%;}
.bbs-basic-gallery-con03 ul li{float:left; width:23%; margin:0 1%; margin-bottom:2%;}
.bbs-basic-gallery-con03 ul li a{position:relative; display:block; border:1px solid #ccc; background-color:#fff; letter-spacing:-0.75px; line-height:22px;}
.bbs-basic-gallery-con03 ul li a .category{position:absolute; top:0px; left:0px; min-width:30px; padding:0 10px; height:28px; line-height:28px; background-color:#f58020; color:#fff; z-index:1;}
.bbs-basic-gallery-con03 ul li a .press-thum{position:relative; padding-top:66%; overflow:hidden; border-bottom:1px solid #ccc; }
.bbs-basic-gallery-con03 ul li a .press-thum span{position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.bbs-basic-gallery-con03 ul li a .press-thum .press-img img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; vertical-align:top;}
.bbs-basic-gallery-con03 ul li a .press-thum .no-image{background-color:#f2f2f2; text-align:center;}	
.bbs-basic-gallery-con03 ul li a .press-thum .no-image strong{display:block; position:absolute; top:50%; left:0px; width:100%; text-align:center; font-size:16px; font-weight:400; margin-top:-25px;}
.bbs-basic-gallery-con03 ul li a strong,.bbs-basic-gallery-con03 ul li a span{display:block;}
.bbs-basic-gallery-con03 ul li .press-info-con{padding:5% 5% 50px 5%;}
.bbs-basic-gallery-con03 ul li a .press-tit{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 0 13px 0; color:#4c4c4c; font-size:18px; font-weight:400; 
	-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s
}
.bbs-basic-gallery-con03 ul li a .press-detail-info {height:66px;}
.bbs-basic-gallery-con03 ul li a .press-detail-info dl{overflow:hidden;}
.bbs-basic-gallery-con03 ul li a .press-detail-info dt,.bbs-basic-gallery-con03 ul li a .press-detail-info dd{float:left; width:30%;}
.bbs-basic-gallery-con03 ul li a .press-detail-info dd{width:70%;}
.bbs-basic-gallery-con03 ul li a .more-btn{position:absolute; bottom:10px; left:4%; }
.bbs-basic-gallery-con03 ul li a .more-btn i{color:#888;	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
.bbs-basic-gallery-con03 ul li a:hover{border-color:#666; background-color:#666}
.bbs-basic-gallery-con03 ul li a:hover .press-thum{border-bottom-color:#666}
.bbs-basic-gallery-con03 ul li a:hover .press-tit{color:#fff;}
.bbs-basic-gallery-con03 ul li a:hover .press-detail-info{color:#fff; opacity:0.45;filter:Alpha(opacity=45);}
.bbs-basic-gallery-con03 ul li a:hover .more-btn i{color:#fff; transform:rotate(90deg);  -moz-transform:rotate(90deg);  }

@media all and (max-width:1220px){
    .bbs-basic-gallery-con03 ul li{width:31.33%;}
}
@media all and (max-width:800px){
    .bbs-basic-gallery-con03 ul li{width:48%;}
	.bbs-basic-gallery-con03 ul li .press-info-con{padding-bottom:35px;}
	.bbs-basic-gallery-con03 ul li a .more-btn{bottom:0;}
	.bbs-basic-gallery-con03 ul li a .press-tit{font-size:16px; padding-bottom:10px;}
}

@media all and (max-width:640px){
	.bbs-basic-gallery-con03 ul li .press-info-con{padding-bottom:4%;}
	.bbs-basic-gallery-con03 ul li a .press-detail-info{height:auto; line-height:18px;}
	.bbs-basic-gallery-con03 ul li a .press-detail-info dl{margin-bottom:5px;}
	.bbs-basic-gallery-con03 ul li a .press-detail-info dt,.bbs-basic-gallery-con03 ul li a .press-detail-info dd{font-size:11px; float:none; width:100%;}
	.bbs-basic-gallery-con03 ul li a .press-detail-info dt{ color:#888; word-break:keep-all;}
	.bbs-basic-gallery-con03 ul li a .press-detail-info dt:after{display:none;}
	.bbs-basic-gallery-con03 ul li a .press-detail-info dd{width:auto; padding-left:6px;}
	.bbs-basic-gallery-con03 ul li a .more-btn{left:auto; bottom:8px; right:5px;}
	.bbs-basic-gallery-con03 ul li a .more-btn i{font-size:20px;}
	.bbs-basic-gallery-con03 ul li a:hover .press-detail-info dt{color:#fff; opacity:0.4;filter:Alpha(opacity=40);}
}

/* ******************   갤러리 게시판 :: 갤러리 이벤트형 G04 (썸네일형) ********************** */
.bbs-basic-gallery-con04 .bbs-thum-list{border-top:1px solid #000;}
.bbs-basic-gallery-con04 .bbs-thum-list li{border-bottom:1px solid #ddd;}
.bbs-basic-gallery-con04 .bbs-thum-list li a{position:relative; display:block; padding:25px; overflow:hidden; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s; }
/* 리스트 :: 썸네일 */
.bbs-basic-gallery-con04 .bbs-thum-list li a .bbs-thumb-img{width:31%; display:inline-block; vertical-align:top;}
.bbs-basic-gallery-con04 .bbs-thum-list li a .bbs-thumb-img span{display:block; position:relative; border:1px solid #d2d2d2; height:0; padding-top:63%;}
.bbs-basic-gallery-con04 .bbs-thum-list li a .bbs-thumb-img img{position:absolute; top:0px; left:0px; width:100%; height:100%; }
/* 리스트 :: 오른쪽정보 */
.bbs-thumb-info-con{overflow:hidden; display:inline-block; vertical-align:top; padding-left:3%; width:65%; height:100%; }
.bbs-thumb-info-con .category{display:inline-block; min-width:60px; padding:0 10px; height:28px; line-height:28px; color:#fff; background-color:#000; text-align:center; font-size:13px; font-weight:500; margin-bottom:15px;}
.bbs-thumb-info-con h3{
	line-height:30px; color:#333; font-size:20px; letter-spacing:-0.5px; font-weight:500; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;
}
.bbs-thumb-info-con .bbs-detail-txt{
	overflow:hidden; height:48px; margin:20px 0 30px; letter-spacing:-0.5px;line-height:26px; font-size:15px; color:#626262; 
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.bbs-thumb-info-con .bbs-thumb-writer-info{overflow:hidden; position:absolute; bottom:25px; right:25px;}
.bbs-thumb-info-con .bbs-thumb-writer-info dl{float:left; margin-left:10px;}
.bbs-thumb-info-con .bbs-thumb-writer-info dl:first-child{margin-left:0;}
.bbs-thumb-info-con .bbs-thumb-writer-info dt, .bbs-thumb-info-con .bbs-thumb-writer-info dd{display:inline-block; vertical-align:middle;}
.bbs-thumb-info-con .bbs-thumb-writer-info dt{margin-right:5px;}
.bbs-thumb-info-con .bbs-thumb-writer-info i{color:#a5a5a5; font-size:20px; vertical-align:middle; }
.bbs-thumb-info-con .bbs-thumb-writer-info dd{color:#888; font-size:13px; font-weight:400;}
.bbs-basic-gallery-con04 .bbs-thum-list li a:hover{background-color:#f1f1f1}
.bbs-basic-gallery-con04 .bbs-thum-list li a:hover h3{color:#159ea7} 

@media all and (max-width:1220px){
    .bbs-basic-gallery-con04 .bbs-thum-list li a{padding:20px 10px;}
	.bbs-thumb-info-con h3{font-size:18px;}
	.bbs-thumb-info-con .bbs-detail-txt{margin:10px 0 20px;}
	.bbs-thumb-info-con .bbs-thumb-writer-info{position:static;}
}
@media all and (max-width:800px){
    .bbs-basic-gallery-con04 .bbs-thum-list li a{padding:15px 10px;}
	.bbs-thumb-info-con .bbs-category{width:60px; height:18px; line-height:16px; font-size:12px;}
	.bbs-thumb-info-con h3{font-size:16px; line-height:20px;}
	.bbs-thumb-info-con .bbs-detail-txt{height:42px; font-size:13px; line-height:20px; margin-bottom:10px;}
	.bbs-thumb-info-con .bbs-thumb-writer-info dd{font-size:11px;}
}
@media all and (max-width:480px){
	.bbs-basic-gallery-con04 .bbs-thum-list li a{position:relative;}
    .bbs-basic-gallery-con04 .bbs-thum-list li a .bbs-thumb-img,.bbs-thumb-info-con{display:block; width:100%; padding:0;}
	.bbs-basic-gallery-con04 .bbs-thum-list li a .bbs-thumb-img{margin-bottom:10px;}
}

/* ******************   갤러리 게시판 :: 갤러리 리스트형 G05   ********************** */
.bbs-basic-gallery-con05 .gallery-list{margin: 0px -1%; *zoom:1;}
.bbs-basic-gallery-con05 .gallery-list:after{clear:both; display:block; content:"";}
.bbs-basic-gallery-con05 .gallery-list li{float:left; width:23%;  margin:0 1%  3% 1%;}
.bbs-basic-gallery-con05 .gallery-list li a{
	display:block; position:relative; width:100%; 
	-moz-transition:all 0.2s;
	-ms-transition:all 0.2s;
	transition:all 0.2s;
}
.bbs-basic-gallery-con05 .gallery-list li a .category{position:absolute; top:0px; left:0px; min-width:30px; padding:0 10px; height:28px; line-height:28px; background-color:#f58020; color:#fff; z-index:1;}
.bbs-basic-gallery-con05 .gallery-list li .list-photo-con{overflow:hidden;  position:relative; display:block; width:100%; height:0; padding-top:66%;  }
.bbs-basic-gallery-con05 .gallery-list li .list-photo-con img{position:absolute; top:0px; left:0px; width:100%; height:100%; -webkit-transition:all 300ms;-moz-transition:all 300ms;-o-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms; }
.bbs-basic-gallery-con05 .gallery-list li .list-info-con{
	width:94%; padding:20px 3%; letter-spacing:-0.5px;
	-webkit-transition:all 300ms;-moz-transition:all 300ms;-o-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms; 
}
.bbs-basic-gallery-con05 .gallery-list li .list-info-con .list-tit{
	display:block; color:#333; font-size:17px; font-weight:600; padding-bottom:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	-moz-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;
}
.bbs-basic-gallery-con05 .gallery-list li .list-info-con p{overflow:hidden; height:60px; color:#777; font-size:13.5px; font-weight:400; line-height:20px; margin-bottom:25px;}
.bbs-basic-gallery-con05 .gallery-list li .list-info-con .list-day{color:#aaa; font-size:13px; }
.bbs-basic-gallery-con05 .gallery-list li .list-info-con .list-day i{vertical-align:middle; font-size:18px;}
.bbs-basic-gallery-con05 .gallery-list li a:hover .list-info-con {	margin-left:1%; }
.bbs-basic-gallery-con05 .gallery-list li a:hover{
	box-shadow:10px 10px 10px rgba(0, 0, 0, .15);
}
.bbs-basic-gallery-con05 .gallery-list li a:hover .list-photo-con img{
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
}
.bbs-basic-gallery-con05 .gallery-list li a:hover .list-tit{color:#0cb8b2}

@media all and (max-width:1220px){
	/* 게시판 :: 갤러리 응용형 GC01 */
	.bbs-basic-gallery-con05 .gallery-list li{width:31.33%;}
	.bbs-basic-gallery-con05 .gallery-list li .list-info-con .list-tit{font-size:15px; line-height:20px;}
	.bbs-basic-gallery-con05 .gallery-list li .list-info-con p{height:42px; font-size:13px; margin-bottom:15px;}
	.bbs-basic-gallery-con05 .gallery-list li .list-info-con .list-day{font-size:11.5px;}
}
@media all and (max-width:800px){
	/* 게시판 :: 갤러리 응용형 GC01 */
	.bbs-basic-gallery-con05 .gallery-list li{width:48%;}
	.bbs-basic-gallery-con05 .gallery-list li a .gallery-txt-con .gal-tit{font-size:14px;}
	.bbs-basic-gallery-con05 .gallery-list li .list-info-con p{font-size:12px;}
}

/* ******************   갤러리 게시판 :: 갤러리 리스트형 G06  ********************** */
.bbs-basic-gallery-con06{margin: 0 -0.5%; *zoom:1;}
.bbs-basic-gallery-con06:after{clear:both; display:block; content:"";}
.bbs-basic-gallery-con06 .gallery-item{float:left; position:relative; width:24%; margin:0 0.5%; margin-bottom:1%;}
.bbs-basic-gallery-con06 .gallery-item .gallery-thumb{overflow:hidden; position:relative; display:block; width:100%; height:0; padding-top:67%;}
.bbs-basic-gallery-con06 .gallery-item .gallery-thumb img{position:absolute; top:0px; left:0px;width:100%; height:100%; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.bbs-basic-gallery-con06 .gallery-item .category{position:absolute; top:0px; left:0px; min-width:30px; padding:0 10px; height:28px; line-height:28px; background-color:#f58020; color:#fff; z-index:1;}
.bbs-basic-gallery-con06 .gallery-item .cover-info{
    position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#ce1919; background:rgba(0,0,0,0.7);
    opacity:0;filter:Alpha(opacity=0);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.bbs-basic-gallery-con06 .gallery-item .cover-info .cover-info-txt{color:#fff; position:absolute; top:50%; width:100%; margin-top:-23px; text-align:center; font-size:16px; letter-spacing:-0.45px;}
.bbs-basic-gallery-con06 .gallery-item .cover-info .cover-info-txt .title-info{display:block; width:80%; margin:0px auto; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding-bottom:14px; font-weight:400; }
.bbs-basic-gallery-con06 .gallery-item .cover-info .cover-info-txt .date-info{font-size:13px;}
.bbs-basic-gallery-con06 .gallery-item a:hover  img{transform:scale(1.1)}
.bbs-basic-gallery-con06 .gallery-item a:hover .cover-info{opacity:1.0;filter:Alpha(opacity=100);}
 
@media all and (max-width:800px){
    .bbs-basic-gallery-con06 .gallery-item{width:32.33%;}
    .bbs-basic-gallery-con06 .gallery-item .cover-info .cover-info-txt{font-size:14px; margin-top:-18px}
}
@media all and (max-width:640px){
    .bbs-basic-gallery-con06 .gallery-item{width:49%;}
}

/* ******************   갤러리 게시판 :: 갤러리 리스트형 G07  ********************** */
.bbs-basic-gallery-con07 > ul {overflow:hidden; margin:0 -1%;}
.bbs-basic-gallery-con07 > ul li {float:left; width:18%; margin:0 1% 2% 1%; }
.bbs-basic-gallery-con07 > ul li a{display:block; position:relative;}
.bbs-basic-gallery-con07 .gallery-img-thumb {position:relative; overflow:hidden; height:0; padding-top:130%; border:1px solid #D8D8D7}
.bbs-basic-gallery-con07 .category{position:absolute; top:0px; left:0px; min-width:30px; padding:0 10px; height:28px; line-height:28px; background-color:#f58020; color:#fff; z-index:1;}
.bbs-basic-gallery-con07 > ul li img {position:absolute; top:0px; left:0px; width:100%; height:100%;}
.bbs-basic-gallery-con07 > ul li .gallery-tit {display:block; height:48px; font-size:18px; line-height: 48px; letter-spacing: -1px; color:#000000; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.bbs-basic-gallery-con07 > ul li .img-over-thum {
    position:absolute; opacity:0;filter:Alpha(opacity=0); width:100%; height:100%; left:0; top:0; background-color:rgba(0, 0, 0, 0.5);  
    -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; 
}
.bbs-basic-gallery-con07 > ul li .img-over-thum span {
    position:absolute; left:15%; bottom:-45px; width:70%; height:45px; font-size:16px; line-height: 45px; letter-spacing: -1px; color:#fff; 
    background-color:rgba(0, 0, 0, 0.3); border:1px solid rgba(255, 255, 255, 0.3); border-bottom: 0; text-align:center; 
    -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; 
}
.bbs-basic-gallery-con07 > ul li .img-over-thum span i {vertical-align: middle; color:#fff; display:inline-block; margin-left: 8px;}
.bbs-basic-gallery-con07 > ul li:hover .img-over-thum {opacity:1;filter:Alpha(opacity=100);-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.bbs-basic-gallery-con07 > ul li:hover .img-over-thum span {bottom:0;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
 
@media all and (max-width:800px){
    .bbs-basic-gallery-con07 > ul li{width:48%;}
    .bbs-basic-gallery-con07 > ul li .gallery-tit{height:30px; line-height:30px; font-size:15px; padding-top:10px;} 
    .bbs-basic-gallery-con07 > ul li .img-over-thum span{bottom:-30px; height:30px; line-height:30px; font-size:13px;}
    .bbs-basic-gallery-con07 > ul li .img-over-thum span i{font-size:18px; margin-left:3px;}
}



/* ******************   갤러리형 게시판 :: 갤러리 응용형 GC04  ********************** */
.bbs-basic-gallery-con08 {
    display: block;
    text-align: center;
    margin:0 -1%;
}
.bbs-basic-gallery-con08 li {
    width:23%;
    float:left;
    margin:1%;
    overflow:hidden;
}
.circle-thumb, .circle-item {
    overflow:hidden;
    display:block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background-color:#767676;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.circle-thumb{
    position:relative;
    display:block;
    height:0;
    padding-top:100%;
}
.circle-thumb img{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    opacity:0.8;filter:Alpha(opacity=80);
}
.circle-thumb img, .circle-info, .circle-info .circle-cate, .circle-info p, .circle-info .on-txt, .circle-info .more-btn{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.circle-info{position:absolute; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:rgba(0,0,0,0.1)}
.circle-info .circle-cate{display:block; position:relative; z-index:10; padding:67px 0 57px; color:#fff; font-size:16px; font-weight:600; text-shadow:1px 1px 1px rgba(0, 0, 0, .3);}
.circle-info .off-txt{width:90%; height:90px; overflow:hidden; margin:0px auto;  color:#fff; letter-spacing:-0.3px; font-size:22px; letter-spacing:-0.3px; line-height:30px; word-break:keep-all; text-shadow:1px 1px 1px rgba(0, 0, 0, .3); white-space:nowrap; text-overflow:ellipsis;}
.circle-info .on-txt{position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9;  background:#fff;  color:#939393; font-size:17px; line-height:26px; letter-spacing:-0.3px; word-break:keep-all; box-sizing:border-box; padding-top:41%; opacity:0;filter:Alpha(opacity=0); transform:scale(0); border-radius: 50%;}
.circle-info .on-txt p{width:80%; margin:0px auto; height:80px; overflow:hidden;}
.circle-info .more-btn{position:absolute; bottom:20px; left:50%; width:32px; height:32px; z-index:10; color:#fff; text-align:center; line-height:30px; margin-left:-16px; background-color:#4c4b4b; opacity:0;filter:Alpha(opacity=0);-webkit-border-radius:32px;-moz-border-radius:32px;-o-border-radius:32px;border-radius:32px;}
.circle-info .more-btn i{vertical-align:middle; font-size:22px;}
/* over 스타일 */
.bbs-basic-gallery-con08 li .circle-item:hover {box-shadow:6px 6px 8px rgba(213, 213, 213, 0.49)}
.bbs-basic-gallery-con08 li .circle-item:hover .circle-thumb img{left:-50px;}
.bbs-basic-gallery-con08 li .circle-item:hover .circle-info{background-color:#fff;}
.bbs-basic-gallery-con08 li .circle-item:hover .circle-info .circle-cate{color:#c00c3f; text-shadow:none;}
.bbs-basic-gallery-con08 li .circle-item:hover .circle-info .off-txt{opacity:0;filter:Alpha(opacity=0);  transform:scale(0);}
.bbs-basic-gallery-con08 li .circle-item:hover .circle-info .on-txt{opacity:1.0;filter:Alpha(opacity=100);  transform:scale(1.0);}
.bbs-basic-gallery-con08 li .circle-item:hover .circle-info .more-btn{bottom:40px; opacity:1.0;filter:Alpha(opacity=100);}
 
@media (max-width:1220px) {
    .circle-info .circle-cate{padding:20% 0}
    .circle-info .off-txt{height:72px; font-size:18px; line-height:24px;}
}
 
@media (max-width:800px) {
    .bbs-basic-gallery-con08 li{width:48%; margin-top:10px;}
    .circle-info .off-txt{height:76px; font-size:18px; line-height:26px;}
}
@media (max-width:640px) {
    .circle-info .circle-cate{font-size:12px;}
    .circle-info .off-txt{height:48px; font-size:15px; line-height:16px;}
    .circle-info .on-txt{display:none;}
    .circle-info .more-btn{bottom:10px;}
    .bbs-basic-gallery-con08 li .circle-item:hover .circle-info .more-btn{bottom:20px;}
}

/* ******************   갤러리형 게시판 :: 갤러리 응용형 GC05  ********************** */
.bbs-basic-gallery-con09 ul{overflow:hidden; margin:0 -1%;}
.bbs-basic-gallery-con09 ul li{float:left; width:48%; margin:0 1% 2% 1%;}
.bbs-basic-gallery-con09 ul li a{
    position:relative; overflow:hidden; display:block; padding:25px; border:1px solid #ccc;
    -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;
}
.bbs-basic-gallery-con09 ul li strong,.bbs-basic-gallery-con09 ul li span{display:block;}
.bbs-basic-gallery-con09 ul li .bbs-title{color:#000; font-size:20px; letter-spacing:-0.5px; line-height:1.2; font-weight:500; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.bbs-basic-gallery-con09 ul li .bbs-sub-txt{overflow:hidden; height:72px; line-height:24px; color:#202020; font-size:14px; margin:20px 0;}
.bbs-basic-gallery-con09 ul li .bbs-date{padding-bottom:20px; color:#aaa; font-size:13px;}
.bbs-basic-gallery-con09 ul li .more-btn{
    width:86px; height:30px; line-height:30px; color:#fff; text-align:center; background-color:#555; 
    -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;
}
.bbs-basic-gallery-con09 ul li a:hover{border:1px solid #06b4e0}
.bbs-basic-gallery-con09 ul li a:hover .more-btn{background-color:#06b4e0;}
/* 이미지 있을때 */
.bbs-basic-gallery-con09 .bbs-left-photo-con{float:left; position:relative; width:180px; height:0; padding-top:180px; }
.bbs-basic-gallery-con09 .bbs-left-photo-con img{position:absolute; top:0px; left:0px; width:100%; height:100%; -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s; }
.bbs-basic-gallery-con09 .category{position:absolute; top:0px; left:0px; min-width:30px; padding:0 10px; height:28px; line-height:28px; background-color:#f58020; color:#fff; z-index:1;}
.bbs-basic-gallery-con09 .bbs-right-info-con{float:right; width:calc( 100% - 200px ); }
.bbs-basic-gallery-con09 ul li .bbs-right-info-con .bbs-sub-txt{height:44px; word-break:keep-all}
.bbs-basic-gallery-con09 ul li .bbs-right-info-con .bbs-date{padding-bottom:15px;}
 @media all and (max-width:1220px){
    .bbs-basic-gallery-con09 ul li a{padding:15px;}
    /* 이미지 있을때 */
    .bbs-basic-gallery-con09 .bbs-left-photo-con{width:130px; padding-top:130px;}
    .bbs-basic-gallery-con09 .bbs-right-info-con{width:calc( 100% - 145px ); }
 }
@media all and (max-width:800px){
    .bbs-basic-gallery-con09 ul li{float:none; width:100%; margin:0; margin-bottom:3%; }
    .bbs-basic-gallery-con09 ul li .bbs-title{font-size:15px;}
    .bbs-basic-gallery-con09 ul li .bbs-sub-txt{font-size:13px; line-height:22px; height:60px;}
}
@media all and (max-width:480px){
    /* 이미지 있을때 */
    .bbs-basic-gallery-con09 .bbs-left-photo-con{width:100px; padding-top:100px;}
    .bbs-basic-gallery-con09 .bbs-right-info-con{width:calc( 100% - 115px ); }
}


/* ******************   갤러리형 게시판 :: 갤러리 응용형 GC06  ********************** */
.bbs-basic-gallery-con10 > ul{margin:0 -1%}
.bbs-basic-gallery-con10 .gallery-over-list-item {float:left; width:23%; margin:0 1% 5%;}
.bbs-basic-gallery-con10 .gallery-over-list-item a {display:block; }
.bbs-basic-gallery-con10 .gallery-img-box {position:relative; text-align:center; border:1px solid #ddd;}
.bbs-basic-gallery-con10 .gallery-img-box .img-wrap {display:block; height:0; padding-top:64%; }
.bbs-basic-gallery-con10 .gallery-img-box .img-wrap img{position:absolute; top:0px; right:0px; bottom:0px; left:0px; width:100%; height:100%;}
.bbs-basic-gallery-con10 .gallery-img-box .category {position:absolute; left:0; top:0; display:inline-block; min-width:50px; padding:0 5px; height:30px; line-height: 30px; font-size:13px; letter-spacing: -0.5px; color:#fff; background-color:#AD343F;}
.bbs-basic-gallery-con10 .gallery-img-box .broad-bg {position:absolute; width:100%; height:100%; left:0; top:0; overflow:hidden;}
.bbs-basic-gallery-con10 .gallery-img-box .broad-bg span{position:relative; display:block; width:0; height:0; left:50%; top:50%; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;  border-radius:100%;}
.bbs-basic-gallery-con10 .gallery-img-box .gallery-btn {position:absolute; width:45px; height:45px; right:15px;bottom:-22.5px; border-radius:100%; color:#fff;  overflow:hidden; background-color:#d0121b; background-color:rgba(208, 18, 27, 0.81); line-height: 45px; box-shadow:5px 5px 15px rgba(0, 0, 0, 0.2); -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.bbs-basic-gallery-con10 .gallery-img-box .gallery-btn  i{vertical-align:middle;}
.bbs-basic-gallery-con10 .gallery-info {padding: 30px 0; min-height:118px;}
.bbs-basic-gallery-con10 .gallery-info .gallery-info-tit {font-size:19px; line-height: 19px; letter-spacing: -0.6px; color:#000; font-weight: 400; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.bbs-basic-gallery-con10 .gallery-info p {font-size:14.5px; line-height: 22px; letter-spacing: -0.75px; color:#888; margin:10px 0; height:66px; overflow:hidden; text-overflow:ellipsis; }
.bbs-basic-gallery-con10 .gallery-info .gallery-date {font-size:13px; line-height: 13px; letter-spacing: -0.5px; color:#aaa; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
 @media all and ( min-width: 801px ){
    .bbs-basic-gallery-con10 .gallery-over-list-item a:hover .gallery-btn {background-color:transparent; right:50%; margin-right: -22.5px; box-shadow:none; bottom:50%; margin-bottom: -22.5px;}
    .bbs-basic-gallery-con10 .gallery-over-list-item a:hover .broad-bg span {background-color:#d0121b; width:400px; height:400px; left:50%; top:50%; transform:translate(-50%, -50%); opacity:0.4;filter:Alpha(opacity=40); transition-delay:0.2s;}
}
@media all and ( max-width: 800px ){
    .bbs-basic-gallery-con10 .gallery-over-list-item{width:31.33%}
}
@media all and ( max-width: 640px ){
    .bbs-basic-gallery-con10 .gallery-over-list-item{width:48%; margin-bottom:3%}
    .bbs-basic-gallery-con10 .gallery-img-box .category{font-size:11px;}
    .bbs-basic-gallery-con10 .gallery-img-box .gallery-btn{right:5px; bottom:-15px;width:30px; height:30px; line-height:30px;}
    .bbs-basic-gallery-con10 .gallery-img-box .gallery-btn i{font-size:18px}
    .bbs-basic-gallery-con10 .gallery-info .gallery-info-tit{font-size:17px;}
    .bbs-basic-gallery-con10 .gallery-info p{height:36px; font-size:12px; line-height:18px; }
}